# 6. 입력과 출력

## 6.1 화면 출력

In [1]:
print("Hello Python!")

Hello Python!

문자열 여러개를 연결하여 출력(자동으로 공백 발생)

In [2]:
print("Best","python","book")

Best python book

sep활용(공백 대신 활용)

In [3]:
print("Best","python","book", sep = "-") # -뿐만 아니라 다양한 기호 등 사용가능함

Best-python-book

빈칸없이 문자를 연결할때 + 사용

In [4]:
print("abcd" + "erf")

abcderf

콤마와 + 같이 사용

In [5]:
print("Best","python","book " +":","This book")

Best python book : This book

변수에 저장 된 내용을 출력 할 때

In [6]:
x = 10
print(x) # 변수가 담고 있는 내용인 10 출력
print("x") # 문자열 x 출력

10
x

문자열과 숫자를 함꼐 출력

In [7]:
name = "James"
ID_num = 789
print("Name: ",name+",","ID Number: ",ID_num ) 
# name, ID_num라는 변수들이 담고 있는 값을 가져오기, "," 를 통해 콤마 출력

Name:  James, ID Number:  789

In [8]:
name = "Haha"
ID_num = 123
print("Name: ",name+",","ID Number: ",ID_num )

Name:  Haha, ID Number:  123

여러줄로 출력하기 (개행문자 \n)

In [9]:
print("James is my friends.\nHe is Korean.")

James is my friends.
He is Korean.

줄바꿈

In [10]:
print("James is my friends.\n\nHe is Korean.")

James is my friends.

He is Korean.

이스케이프 문자 예시

In [11]:
print("James is my friends.\tHe is Korean.")

James is my friends.	He is Korean.

In [12]:
print("James is my friends.\'He is Korean.\'")

James is my friends.'He is Korean.'

In [13]:
print("James is my friends.\"He is Korean.\" ")

James is my friends."He is Korean."

줄을 바꾸지 않고 출력

In [14]:
print("welcome to ") # 공백을 인지하니까 주의하기
print("python!")

welcome to
python!

두 줄로 출력된 결과를 한줄로 출력하기! - end 설정

In [15]:
print("Welcome to  ",end="") #파이썬은 뒤에 개행문자가 숨겨져있는데 end 설정을 통해서 한줄로 쓸 수 있음
print("python!")
print("Welcome to  ",end="") # 개행문자를 강제로 제거한다.
print("school!")

Welcome to  python!
Welcome to  school!

In [16]:
print("Welcome to  ",end="\t") # 개행문자를 변경 - tab으로!
print("school!")

Welcome to  	school!

## 형식 지정 출력

### 나머지 연산자(%)를 이용한 형식 및 위치 지정

나머지 연산자를 이용한 데이터의 출력형식과 위치를 지정하는 구조<br>
print("%type" %data) <br>
print("%type %type"%(data1,data2))

In [17]:
name ="광재"
print("%s는 나의 친구 입니다." %name)

광재는 나의 친구 입니다.

In [18]:
r = 3 # int
PI = 3.14259265368979 #float 
print("반지름: %d, 원주율: %f" %(r,PI)) # 지정된 위치에 데이터 할당
print("반지름: %f, 원주율: %f" %(r,PI))

반지름: 3, 원주율: 3.142593
반지름: 3.000000, 원주율: 3.142593

In [19]:
name = "James"
number = 1234
score = 78.5
print("이름은 %s 이고, 번호는 %d, 점수는 %f 입니다" %(name, number, score)) # %f는 6번째 짜리까지 출력가능

이름은 James 이고, 번호는 1234, 점수는 78.500000 입니다

### 형식 지정 문자열에서 출력 위치 지정

string.format을 이용하는 형식지정 문자열의 기본구조<br>
많이 사용하니까 잘 익히기<br>
print("{0},{1},{2}......{n}".format(data_0,data_1,data_2, ......, data_n))

In [20]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal : {0}".format(animal_0))
print("Animal : {0},{1},{2}".format(animal_0,animal_1,animal_2))

Animal : cat
Animal : cat,dog,fox

In [21]:
# 순서 바꿔서 출력하기
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal : {}".format(animal_0))
print("Animal : {},{},{}".format(animal_2,animal_1,animal_0)) # format()에 쓰인 순서를 인덱스로 사용한다

Animal : cat
Animal : fox,dog,cat

#### format()에 쓰인 순서를 인덱스로 사용한다.

In [22]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal : {0},{1},{2}".format(animal_2,animal_1,animal_0)) # format()에 쓰인 순서를 인덱스로 사용한다
print("Animal : {2},{1},{2}".format(animal_0,animal_1,animal_2)) # 인덱스를 통해 출력 - fox 두번 출력
print("Animal : {0},{0},{0}".format(animal_0,animal_1,animal_2)) # 인덱스를 통해 출력 - cat 세번 출력

Animal : fox,dog,cat
Animal : fox,dog,fox
Animal : cat,cat,cat

출력 위치 변경

In [23]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal : {1},{2},{0}".format(animal_0,animal_1,animal_2)) # 인덱스를 통해 출력 - fox 두번 출력

Animal : dog,fox,cat

일부만 출력

In [24]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal : {0},{2}".format(animal_0,animal_1,animal_2)) # 인덱스를 통해 출력 - fox 두번 출력

Animal : cat,fox

순차적으로 데이터 순서를 지정하려면 생략가능

In [25]:
print("Animal : {},{},{}".format(animal_2,animal_1,animal_0)) # format()에 쓰인 순서를 인덱스로 사용한다

Animal : fox,dog,cat

정수나 실수도 출력 가능 <br>
문자열을 변수에 대입한 후 변수를 불러서 출력 실수의 경우 17자리까지 표현되며 반 올림이 되어 출력한다.

In [26]:
name = "Tomas"
age = 10
a = 0.1234567890123456789
fmt_string = "String: {0}, Interger Number: {1}, Floateing Number: {2}" # 결과를 통해서 f형식이 17자리까지! 마지막 자리에서 반올림
print(fmt_string.format(name, age, a))

String: Tomas, Interger Number: 10, Floateing Number: 0.12345678901234568

In [27]:
a = 0.1234
b = 0.12345678
c = 0.123456789012
d = 0.1234567890123456  
e = 0.1234567890123456789
fmt_string = "Floateing Number: {0}\nFloateing Number: {1}\nFloateing Number: {2}\nFloateing Number: {3}\nFloateing Number: {4}" 
print(fmt_string.format(a,b,c,d,e))

Floateing Number: 0.1234
Floateing Number: 0.12345678
Floateing Number: 0.123456789012
Floateing Number: 0.1234567890123456
Floateing Number: 0.12345678901234568

### 형식 지정 문자열에서 숫자 출력 형식 지정

데이터가 숫자일 경우{N:'출력형식'을 지정하여 다양한 형태로 출력이 가능}

In [28]:
a = 0.1234567890123456789
b = 0.1234

print("{0:.2f}\n{0:5f}\n{0:.100f}\n{0:100f}".format(a)) #어느 자리까지 출력할 것인지 지정
#n은 foramt에서 순서대로 지정(인덱스 처럼)
print("{0:.2f}\n{1:5f}".format(a,b)) #어느 자리까지 출력할 것인지 지정

0.12
0.123457
0.1234567890123456773698862320998159702867269515991210937500000000000000000000000000000000000000000000
                                                                                            0.123457
0.12
0.123400

## 6.1 키보드 입력

data = input("문자열")

In [29]:
yourName = input("당신의 이름은? ")
print("당신의 이름은 {}이군요! 환영합니다.".format(yourName))

당신의 이름은? 이재은
당신의 이름은 이재은이군요! 환영합니다.

숫자를 입력한 예

In [30]:
num = input("숫자를 입력하세요: ")
print("당신이 입력한 숫자는 {}입니다.".format(num))

숫자를 입력하세요: 2
당신이 입력한 숫자는 2입니다.

In [31]:
name = input("당신의 이름은? ")
print("당신의 이름은 \'{}\'입니다.".format(name))
nickname = input("원하는 닉네임을 입력하세요: ")
print("{}님, 환영합니다.".format(nickname))

당신의 이름은? 이재은
당신의 이름은 '이재은'입니다.
원하는 닉네임을 입력하세요: 젤리
젤리님, 환영합니다.

숫자를 연산에 이용하기 위해서는 변환해야 함 - 정수만 처리가능

In [32]:
a = input("정사각형 한 변의 길이는? ") # 입력은 문자열 형식이라서 사용하기위해 형변환이 필요하다.
area = int(a) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는? 3
정사각형의 넓이: 9

In [33]:
a = input("정사각형 한 변의 길이는? ") # 입력은 문자열 형식이라서 사용하기위해 형변환이 필요하다.
area = int(a) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는? 1.5

ValueError: invalid literal for int() with base 10: '1.5'

실수의 경우(정수인지 모르는 경우 실수로 처리하는 것이 좋음) - 정수, 실수 둘다 처리 가능

In [34]:
b = input("정사각형 한 변의 길이는? ")
area = float(b) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는? 3
정사각형의 넓이: 9.0

In [73]:
b = input("정사각형 한 변의 길이는? ")
area = float(b) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는? 1.5
정사각형의 넓이: 2.25

print(f " {변수명} ")

In [36]:
b = input("정사각형 한 변의 길이는? ")
area = float(b) ** 2
print(f"정사각형의 넓이: {area}")

정사각형 한 변의 길이는? 1.5
정사각형의 넓이: 2.25

### 복습하기

In [38]:
print("임시 - 회원 가입")
name = input("이름을 입력하세요: ")
id = input("ID를 입력하세요: ")
password1 = input("비밀번호를 입력하세요: ") # 비밀번호가 그대로 노출된다!
password2 = input("비밀번호를 입력하세요: ")
if password1 == password2:
    print("회원가입 완료!")
    print("{0}님, 환영합니다.".format(id))
else:
    print("비밀번호가 일치하지 않습니다.")

임시 - 회원 가입
이름을 입력하세요: 이재은
ID를 입력하세요: a1
비밀번호를 입력하세요: asdf
비밀번호를 입력하세요: asdf
회원가입 완료!
a1님, 환영합니다.

In [39]:
print("임시 - 회원 가입")
name = input("이름을 입력하세요: ")
id = input("ID를 입력하세요: ")
while True:
    password1 = input("비밀번호를 입력하세요: ") # 비밀번호가 그대로 노출된다!
    password2 = input("비밀번호를 입력하세요: ")
    if password1 == password2:
        break
    else:
        print("비밀번호가 일치하지 않습니다.")
        continue
print("회원가입 완료!")
print("{0}님, 환영합니다.".format(id))

임시 - 회원 가입
이름을 입력하세요: 이재은
ID를 입력하세요: asdf
비밀번호를 입력하세요: asdf
비밀번호를 입력하세요: asss
비밀번호가 일치하지 않습니다.
비밀번호를 입력하세요: asdf
비밀번호를 입력하세요: asdf
회원가입 완료!
asdf님, 환영합니다.